.modal-user {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manage-user-container {
    .action {
        i {
            padding-right: 7px;
        }
    }

    .user-body {
        .table {
            i {
                padding-right: 7px;
            }
        }
    }
}